[submodule "pack/cynix/opt/gruvbox"]
	path = pack/cynix/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/cynix/start/ConflictDetection"]
	path = pack/cynix/start/ConflictDetection
	url = https://github.com/vim-scripts/ConflictDetection.git
[submodule "pack/cynix/start/ConflictMotions"]
	path = pack/cynix/start/ConflictMotions
	url = https://github.com/vim-scripts/ConflictMotions.git
[submodule "pack/cynix/start/fzf"]
	path = pack/cynix/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/cynix/start/fzf.vim"]
	path = pack/cynix/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/cynix/start/galaxyline.nvim"]
	path = pack/cynix/start/galaxyline.nvim
	url = https://github.com/glepnir/galaxyline.nvim.git
[submodule "pack/cynix/start/gitsigns.nvim"]
	path = pack/cynix/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/cynix/start/gitv"]
	path = pack/cynix/start/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "pack/cynix/start/incsearch.vim"]
	path = pack/cynix/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/cynix/start/indent-blankline.nvim"]
	path = pack/cynix/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "pack/cynix/start/lightline-buffer"]
	path = pack/cynix/start/lightline-buffer
	url = https://github.com/taohexxx/lightline-buffer.git
[submodule "pack/cynix/start/lsp_signature.nvim"]
	path = pack/cynix/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim.git
[submodule "pack/cynix/start/lsp-status.nvim"]
	path = pack/cynix/start/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim.git
[submodule "pack/cynix/start/nvim-autopairs"]
	path = pack/cynix/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "pack/cynix/start/nvim-compe"]
	path = pack/cynix/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
[submodule "pack/cynix/start/nvim-lspconfig"]
	path = pack/cynix/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/cynix/start/nvim-miniyank"]
	path = pack/cynix/start/nvim-miniyank
	url = https://github.com/bfredl/nvim-miniyank.git
[submodule "pack/cynix/start/nvim-treesitter"]
	path = pack/cynix/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/cynix/start/nvim-web-devicons"]
	path = pack/cynix/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "pack/cynix/start/plenary.nvim"]
	path = pack/cynix/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/cynix/start/securemodelines"]
	path = pack/cynix/start/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "pack/cynix/start/tcomment_vim"]
	path = pack/cynix/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "pack/cynix/start/vim-abolish"]
	path = pack/cynix/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/cynix/start/vim-better-whitespace"]
	path = pack/cynix/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "pack/cynix/start/vim-CountJump"]
	path = pack/cynix/start/vim-CountJump
	url = https://github.com/inkarkat/vim-CountJump.git
[submodule "pack/cynix/start/vim-crosshairs"]
	path = pack/cynix/start/vim-crosshairs
	url = https://github.com/bronson/vim-crosshairs.git
[submodule "pack/cynix/start/vim-easy-align"]
	path = pack/cynix/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/cynix/start/vim-easyescape"]
	path = pack/cynix/start/vim-easyescape
	url = https://github.com/zhou13/vim-easyescape.git
[submodule "pack/cynix/start/vim-fswitch"]
	path = pack/cynix/start/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "pack/cynix/start/vim-fugitive"]
	path = pack/cynix/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/cynix/start/vim-ingo-library"]
	path = pack/cynix/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "pack/cynix/start/vim-mundo"]
	path = pack/cynix/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "pack/cynix/opt/vim-numbertoggle"]
	path = pack/cynix/opt/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "pack/cynix/start/vim-picker"]
	path = pack/cynix/start/vim-picker
	url = https://github.com/srstevenson/vim-picker.git
[submodule "pack/cynix/start/vim-polyglot"]
	path = pack/cynix/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/cynix/start/vim-surround"]
	path = pack/cynix/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/cynix/start/vim-vsnip"]
	path = pack/cynix/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "pack/cynix/start/vim-vsnip-integ"]
	path = pack/cynix/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
